@import url("iosevka/iosevka.css");

html, body {
    font-family: Iosevka, monospace;
    background: #090909;
    color: #ffffff;
}

header {
    margin: 50px;
    padding: 50px;
}

h1 {
    font-size: 144px;
    margin: 0;
}

hr {
    border: 5px solid #aaa;
}

.projects-heading, .content {
    margin: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    border: 5px solid #aaa;
    margin: 10px;
    padding: 20px;
}

.project h3 {
    margin: 0;
    border-bottom: 1px solid #8e44ad;
}

.award {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 20px;
    background: #f1c40f;
    color: black;
    margin-top: 16px;
}

a, a:visited {
    color: #8e44ad;
    text-decoration: none;
}

.more-link {
    width: calc(100% - 20px);
    text-align: right;
    margin: 10px;
}

.computer-wrapper {
    position: relative;
}

.computer {
    margin-top: 500px;
    mix-blend-mode: hard-light;
    font-size: 14px;
    opacity: 0.3;
}

.computer::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, grey);
    pointer-events: none;
}

.advanced-mode {
    text-align: right;
}

.advanced-mode a, .advanced-mode a:visited {
    color: #fff;
}