@import ../../../fonts/libertinus/libertinus.css;

.spacing {
    height:  20vh;
}

html {
    background: #F2F0FA;
}

h1, h2, h3, h4, h5, h6 {
    color: #5F5C70;
}

body {
    font-family: "Libertinus Serif", Georgia, serif;
    font-size: 20px;
    color: #1A1F16;
}

#content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
}

#content > img {
    width: 100%;
    margin-top:  10px;
    margin-bottom: 10px;
}

#content > p {
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
}

hr {
    margin-block-start: 2em;
    margin-block-end: 2em;
    width: calc(100% - 6em);
    height: 4px;
    background-color: #C6D2CE;
    border: none;
}

code, pre {
    background: #E4E0F5;
}

pre {
    padding: 5px 10px;
}

a {
    color: #1A1F16;
    text-decoration: underline 2px #4A7856;
}

a:visited {
    color: #4D504E;
}

footer {
    display: block;
    margin-top: 100px;
}